body{
font:400 1rem/1.5625rem sans-serif;
background: rgb(173, 17, 17) !important;

} 

.container {
    background-color: rgb(173, 17, 17) ;
}

header {
    opacity: 1;
    margin: 0;
    position: fixed;
    left:0;
    width: 70%;
    background-color: rgb(173, 17, 17);
    display: flex;
    flex-direction: row;
}

#logo{
    width: 200px;
    height: 100px;
    margin-right: 1.5rem;
    position: relative;
    box-shadow: 1px 1px 100px #ddd;
}
.main{
    height: 80%;
    width: 70%;
    float:left;
    padding-top: 100px;
    
}
aside{
    height: 80%;
    width: 30%;
    float: left;
}

footer{
   display: inline;
    text-align: center;
    padding: 3px;
  

}

.barra_top{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: center;
}
.menu ul{
    margin:0;
    display:flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.menu li{
    flex-grow: 2;
}

.menu li:hover a{
    color:rgb(0, 0, 0);
    
}

.menu li a{
    display:block;
    padding: 15px 20px 0 0;
    color: white;
    text-decoration: none;
}

.search{
    margin: 10px 0 0 20px;
}

.menu ul{
    margin:0;
    display:flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.publicidad{
    padding-top: 100px;
}

.trailer{
    left: 0;
    width: 70%;
    height: 315px;
}

.trailer img{
    
    width: 800px;
    height: 500px;
    box-shadow: 1px 1px 100px rgb(173, 17, 17);
}
.Contentsections {
    display: flex;
    padding: 0;
    list-style: none;
    text-align: left;
    
}
.maincontentimg{
    width: 90%;
    height: 150px;
}
.Contentsections li {
    display:block;
    padding: 15px 20px 0 0;
}
.titulo{
    height: 10%;
    width: 100%;
    background-color: black;
}
h3{
    color: cornsilk;
}
h2{
    color: rgb(210, 183, 30);
}